@page
@model IdentityApp.Pages.Identity.UserPasswordRecoveryModel
@{
    Layout = "_Layout";
    ViewData["showNav"] = false;
    ViewData["banner"] = "Password Recovery";
}

<div asp-validation-summary="All" class="text-danger m-2"></div>

@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-success">@TempData["message"]</div>
}

<form method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Send recovery email</button>
    <a asp-page="SignIn" class="btn btn-secondary">Cancel</a>
</form>