@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<h4 class="bg-primary text-white text-center p-2">MVC - Level 1 - Anyone</h4>

<div class="text-center">
    <h6 class="p-2">
        The store contains <strong>@Model.Count</strong> products.
    </h6>
</div>
