@model (string workflow, string theme)

@{
    Func<string, string> GetClass = (string feature) =>
                feature != null && feature.Equals(Model.workflow) ? "active" : String.Empty;
}

<a class="btn btn-@Model.theme btn-block @GetClass("Dashboard")" asp-page="Dashboard">
    Dashboard
</a>

<a class="btn btn-success btn-block @GetClass("List")" asp-page="View">
    View
</a>